[2016-09-18 21:32] MichaelAquilina opened #2 "Add LICENSE"

[2016-09-20 12:43] #2 closed

[2017-04-26 00:47] wookayin opened #3 "Does automatically deactivating venv makes sense?"
The README reads:

and indeed the plugin behaves so. However, I don't agree it does make sense. For example, suppose a project is structured as follows:

[code]

The virtualenv automatically gets activated according to `.venv`, but whenever we enter into another directory, including its subdirectories (`my_package` in this example), it gets deactivated. In most of use cases, one would expect worki

[2017-04-26 08:42] MichaelAquilina commented on #3
Hi @wookayin. I agree moving to project subdirectories should not deactivate the virtualenv. However I do feel that moving out of the project should deactivate it. Perhaps we can come up with something that solves this specific case. If you want to give this a shot feel free to open a PR :)

[2017-04-26 11:17] MichaelAquilina commented on #3
@wookayin I've opened a PR with a proposed solution. Could you test it out and see if this works for you? Its a pretty quick change so if you find any bugs let me know and I'll see what I can do.

[2017-04-26 13:08] MichaelAquilina opened #5 "Check permissions and user when reading venv"
[code]

FROM: https://gist.github.com/codysoyland/2198913#gistcomment-818650

[2017-04-26 21:56] wookayin commented on #3
Hi @MichaelAquilina, thanks for your feedback. The suggestion #4 looks good as a default behavior and it works well.

Besides, I also think some might want to keep the virtualenv activated while moving out of the project, for temporarily or some of specific use cases. I suggest we can add a configuration point to customize the behavior.

[2017-04-27 09:09] MichaelAquilina commented on #3
could you provide me an example scenario so that I can consider the problem?

[2017-04-27 09:12] wookayin commented on #3
Well, the following is an artificial example, but how do you think of this:

[code]

[2017-04-27 09:15] MichaelAquilina commented on #3
hmmm this is a pretty remote case I think, and you could always just reactivate the virutalenv with `workon my_venv` to correct the situation. In the vast majority of cases, you would want the virtualenv to deactivate since you are exiting the project (which is the point of the project)>

[2017-04-27 15:50] johndpope opened #8 "osx - readme fix - brew install pyenv-virtualenvwrapper?"
brew install virtualenvwrapper
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 1 tap (caskroom/cask).
No changes to formulae.

**Error: No available formula with the name "virtualenvwrapper"**
==> Searching for a previously deleted formula...
Error: No previously deleted formula found.
==> Searching for similarly named formulae...
This similarly named formula was found:
pyenv-virtualenvwra

[2017-04-27 15:52] MichaelAquilina commented on #8
I do not have a Mac so I (wrongly) assumed it was just `virtualenvwrapper`. Could you try that out? If you like you could open a PR fixing the README once you confirm it :)

[2017-05-04 14:22] MichaelAquilina commented on #8
Updated the README @johndpope. Closing this issue. If you see it doesnt work, let me know :)

[2017-05-04 14:22] #8 closed

[2017-05-04 14:57] MichaelAquilina opened #9 "Add CI + Tests"
Could use shunit2 for unit testing
https://github.com/kward/shunit2

[2017-05-04 14:58] MichaelAquilina commented on #5
Need to add another PR to check the current rwx permissions for user/group/all

[2017-05-08 08:36] MichaelAquilina opened #10 "asciicinema of autoswitching in action on the README"

[2017-05-11 16:57] #5 closed

[2017-05-11 16:57] MichaelAquilina opened #12 "Transition to not changing virtualenv when permissions are weak"
Given enough time for users, transition to refusing to activate a virtualenv if the permissions are too weak.

[2017-05-17 10:46] MichaelAquilina commented on #12
This actually already working as intended

[2017-05-17 10:46] #12 closed

[2017-06-02 15:17] MichaelAquilina commented on #9
Actually, `zunit` looks more appropriate given that `shunit2` does not work on zsh:

https://zunit.xyz/

[2017-06-02 19:34] ccheek21 commented on #3
I run into this fairly often when I'm switching into a project directory that isn't the project root directory. Does it make sense to look in parent directories for a .venv file too?

[2017-06-02 20:12] ccheek21 commented on #3
I just created pull request #13 that attempts to fix this problem

[2017-06-05 17:23] ccheek21 commented on #10
What should be included in this? Below is my suggestion, feel free to add to it.

- Create virtualenv with mkvenv
  - Mention that it can be done manually with mkvirtualenv and adding a .venv file
- Switch into and out of project root, demonstrating activation/deactivation
- Switch into and out of child directory, demonstrating recursive search for .venv file
  - Mention it works like git

[2017-06-05 21:25] ccheek21 commented on #10
I made a [pretty simple one](asciinema.org/a/9dp018fv9h413nbjsrmowya2a) that basically just demonstrates creating, switching in, and switching out. It uses liberal use of comments because I couldn't think of a better way to show what was happening.

[2017-06-06 09:26] MichaelAquilina commented on #3
@wookayin please test this out. Will be closing the issue. If you see that the issue has not been fixed feel free to re-open.

[2017-06-06 09:26] #3 closed

[2017-06-06 09:28] MichaelAquilina commented on #10
Thanks for this @ccheek21 :) but the link in your comment seems to be broken!

[2017-06-06 14:07] ccheek21 commented on #10
Whoops! Forgot the `https://`

[](https://asciinema.org/a/9dp018fv9h413nbjsrmowya2a)

[2017-06-12 02:09] wookayin commented on #3
Yeah, great job @ccheek21 and @MichaelAquilina! LGTM 👍

[2017-06-13 10:00] MichaelAquilina opened #15 "Better error message when virtualenvwrapper is not setup correctly"
If virtualenvwrapper is not setup correctly, a horribly confusing message is shown to the user:

`Switching virtualenv: lyst  _maybeworkon:6: command not found: workon `

We should detect if `workon` is available as a function and display a nice message explaining how to setup virtualenvwrapper if not.

[2017-06-30 09:04] MichaelAquilina opened #17 "Use chpwd instead of precmd"
http://zsh.sourceforge.net/Doc/Release/Functions.html#Hook-Functions

[2017-08-03 04:27] wookayin opened #19 "Tab/Window title is set incorrectly due to MYOLDPWD"
This is a weird bug report, but I don't think zsh-autoswitch-virtualenv is responsible for this. Let me explain what happens:

![image](https://user-images.githubusercontent.com/1009873/28905804-0e8603cc-784e-11e7-859d-da216addd1c0.png)

As shown in the figure, the tab/window title of zsh shell reads `~MYOLDPWD` (see Tab 1), which shall be a valid path, `~/.zplug/repos/sorin-ionescu/...`. Please n

[2017-08-03 08:42] wookayin commented on #19
Some random findings:

There are two lines of registering zsh hooks; I am not sure why there are two (one with `-D` and one without), but if I remove the second line the bug does not happen (with `MYOLDPWD` kept intact). a bit confused..

[code]

[2017-08-03 09:17] MichaelAquilina commented on #19
This indeed is a weird bug :thinking:

for your second comment, the first line deletes any possible hooks that exist with the name "_check_venv" and the second line adds the hook back in. The first line is there in the case you would source the file a second time within the same session.

I will try find some information on why this could possibly happen. I dont seem to have this problem myself. H

[2017-08-03 09:22] wookayin commented on #19
Hi, thanks for your feedback. So the first line only removes, not adds the hook; thus we need both, right?

It happens in both of my iTerm2 and Terminal.app; not only my local mac machine, but also any linux machines over ssh.

[2017-08-03 09:23] MichaelAquilina commented on #19
Could you possibly post your `.zshrc` to a gist?

[2017-08-03 09:26] wookayin commented on #19
Please refer to my dotfiles repository: [`zshrc`](https://github.com/wookayin/dotfiles/blob/master/zsh/zshrc).

[2017-08-04 09:12] MichaelAquilina commented on #19
I'll be away this weekend but I'll try give this a look as soon as I have the chance :)

[2017-08-07 22:28] #9 closed

[2017-08-07 22:34] MichaelAquilina opened #21 "Cache zsh builds in travis"

[2017-08-07 22:37] #17 closed

[2017-08-07 22:52] MichaelAquilina commented on #19
Hi @wookayin. Started looking at this again. Does this issue still show without your `.zshrc` file? Could you try renaming it and seeing if a new shell would still show this issue?

[code]

[2017-08-07 22:57] MichaelAquilina opened #22 "Fix and clean up tests"
Current ones are a bit of a mess:
[code]

[2017-08-08 00:36] wookayin commented on #19
Without some configuration from the zshrc applied, tab title would be never set. However, in the following minimal working example, I see the bug doesn't happen.

[code]

I guess there is some weird conflict in my configuration; I'll have to locate it and why.

[2017-08-08 09:24] MichaelAquilina commented on #19
I'm not familiar with the terminal module. Could you link me to any documentation behind it and maybe explain what it does to provide me some context?

[2017-11-18 07:22] santiycr commented on #19
OK, I tracked down this issue and it came down to prezto default modules messing up with the prompt. It tries to be nice and show you env vars in your prompt if they exist pointing to your current directory. Here's the code:
https://github.com/sorin-ionescu/prezto/blob/master/modules/directory/init.zsh#L19

To fix it, add this to the bottom of your .zshrc:
[code]

[2017-11-18 22:25] wookayin commented on #19
@santiycr Awesome, yeah that was the reason!

Some related zsh documentation: http://zsh.sourceforge.net/Doc/Release/Options.html#index-AUTOPARAMKEYS

I think an idea that was used in nojhan/liquidprompt#124 can be applied in our case as well. Basically we can prefix the string value stored in `MYOLDPWD` with some markers, so that this variable can be excluded from auto-naming. Let me prepare a PR

[2017-11-18 23:50] santiycr commented on #19
Oh yeah, great idea. Adding some prefix to the value and then extracting it would be all you need for zsh prompts to ignore it

[2017-11-20 10:02] MichaelAquilina commented on #19
@santiycr thanks for investigating :) @wookayin looking forward to seeing that PR!

[2017-11-29 14:27] yifeikong opened #24 "Does this plugin support python3 venv module?"
Is this a plugin for virtualenv package or python3 venv?

[2017-11-29 14:49] MichaelAquilina commented on #24
Its for virtualenv. I'm not sure what python3 venv is?

[2018-01-18 16:29] Ionaru opened #27 "Command not found: virtualenv_deactivate"
When entering a directory with a virtualenv I created with `mkvenv` I get the output:
[code]

I have virtualenvwrapper installed and added to `.zshrc` with `source /usr/share/virtualenvwrapper/virtualenvwrapper.sh`

Activating and deactivating the virttualenv does work.

[2018-01-18 16:30] MichaelAquilina commented on #27
That's strange.

What platform are you running on? What's you zsh version?

what does the output of `virtualenv_deactivate` give you?

[2018-01-18 16:55] Ionaru commented on #27
Linux Kubuntu 17.10
zsh 5.2

Running the command virtualenv_deactivate inside a virtualenv will not output anything, just deactivates the virtualenv.
When running it outside a virtualenv I get the same error as above: `zsh: command not found: virtualenv_deactivate`

I am also getting the error when activating a virtualenv that was not made with `mkvenv`, but it never happened before installing zsh

[2018-01-18 16:57] MichaelAquilina commented on #27
could you post your `~/.zshrc` to a gist and link it here please?

[2018-01-18 17:02] Ionaru commented on #27
Here you go: https://gist.github.com/Ionaru/d38c64f87d90ddeabab36fb8f30f095b

[2018-01-19 18:38] wookayin commented on #27
I sometimes bumped into this when the environment variable `VIRTUAL_ENV` was just set (or inheritted from parent process, such as tmux).

[2018-04-03 10:56] MichaelAquilina opened #28 "Notify user when they should run `mkvenv`"
Easy way to detect this is if there is a `*requirements.txt` file but no `.venv` file in the project directory

[2018-04-11 16:26] MichaelAquilina opened #31 "Add section about running tests to README"

[2018-04-13 22:35] #31 closed

[2018-04-16 12:53] MichaelAquilina commented on #27
@Ionaru any update on this? What @wookayin said is true, if the `VIRTUAL_ENV` variable is set, but no actual virtualenv is activated, then this would explain the behaviour.

Perhaps some steps you take to get to that error message would help debug this?

[2018-04-16 12:53] #24 closed

[2018-04-16 12:53] #22 closed

[2018-04-16 13:44] #15 closed

[2018-04-24 05:32] adi27 opened #34 "virtualenvwrapper required message"
After upgrading from 0.2.1 to 0.3.0, I see following message when I create new shell

And then my virtualenvs does not switch automatically if I change directory. The problem is that required line was there even before the update and was untouched after. My virtualenvwrapper works correctly. After downgrading to 0.2.1 everything works good.

[2018-04-24 10:00] MichaelAquilina commented on #34
Interesting that you get this message.

Could you post the following:
- your OS and Distro name
- what `echo =virtualenvwrapper.sh` gives you
- what `find / -name "virtualenvwrapper" 2>/dev/null` returns

[2018-04-24 16:42] adi27 commented on #34
-   **your OS and Distro name**
Description:    Manjaro Linux
Release:        17.1.8
-    **what echo =virtualenvwrapper.sh gives you**
/usr/bin/virtualenvwrapper.sh
-    **what find / -name "virtualenvwrapper" 2>/dev/null returns**
/usr/lib/python3.6/site-packages/virtualenvwrapper
/home/\<user\>/.zplug/repos/robbyrussell/oh-my-zsh/plugins/virtualenvwrapper
/home/\<user\>/.local/lib/python2.7/sit

[2018-04-24 16:45] MichaelAquilina commented on #34
Thanks @adi27

what about the output of `which workon`.

Something to keep in mind is that `virtualenvwrapper` needs to be sourced before the plugin is loaded in order for it to work. Read here: https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv#requirements

[2018-04-24 17:04] adi27 commented on #34
That's exactly what I've just discovered when I was fixing my zshrc configuration, virtualenvwrapper has to be loaded before zplug plugin. Thanks for your help and I'm sorry for not paying enough attention to README file.

[2018-04-24 17:04] #34 closed

[2018-04-24 20:44] MichaelAquilina commented on #34
I've updated the help message to hopefully make this more clear in #35

[2018-04-29 21:41] MichaelAquilina commented on #21
Solved by #36

[2018-04-29 21:41] #21 closed

[2018-04-29 21:55] #19 closed

[2018-04-29 21:59] MichaelAquilina commented on #19
Please test the latest version (0.3.2) and see if this is still an issue :)

Sorry this took so long to fix!

[2018-04-29 22:09] wookayin commented on #19
LGTM, thanks!

[2018-05-08 09:41] Ionaru commented on #27
The `VIRTUAL_ENV` variable wasn't set, as you can see in my `.zshrc` I check if it's set and call `deactivate` if it is.

My steps were simple, I  opened a new terminal and `cd`-ed to a directory with a virtualenv

[2018-05-30 14:27] MichaelAquilina opened #39 "Autodetect settings from setup.py and setup.cfg"
Things like:

- Python version
- pip index

[2018-08-01 10:55] gugu opened #40 "Is it possible to reduce 600 permission check to 644?"
# Issue Details

Current check for 600 permission does not add additional security and breaks some software from working (for example - ubuntu snaps and circleci local cli).

Example:

    ====>> Checkout code
    #!/bin/sh
    mkdir -p /home/circleci/project && cp -r /tmp/_circleci_local_build_repo/. /home/circleci/project
    cp: cannot open '/tmp/_circleci_local_build_repo/./.venv' for reading:

[2018-08-01 11:10] MichaelAquilina commented on #40
The vector of attack is this.

If I am a user on your machine, and I have write access to your venv file. I can:
* create a virtualenv (e.g. "badenv") and insert malicious scripts
* write to your .venv file so that it points to "badenv"

Now whenever you change to that directory, you will be executing modules from malicious scripts.

Having said that - this assumes the ability to write not read -s

[2018-08-01 15:29] gugu commented on #40
It uses root user (but from inside docker container with readonly mounted project directory). Same thing will be with other docker builds

[2018-08-01 16:25] gugu commented on #40
No, it is on host machine. But curcleci cli tries to copy files from the
directory from the docker container

On Wed, Aug 1, 2018, at 7:23 PM, Michael Aquilina wrote:

Links:

  1. https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/issues/40#issuecomment-409634013
  2. https://github.com/notifications/unsubscribe-auth/AAEloYUbEwOwDD_0H8pp-pEep38JJkODks5uMdX4gaJpZM4VqSH-

[2018-08-02 09:14] MichaelAquilina commented on #40
associated PR: #41

[2018-08-02 09:15] MichaelAquilina commented on #40
do you have docker configured to run with the `docker` user group? (I am just trying to figure out what the minimum set of permissions you need are)

[2018-08-02 14:01] gugu commented on #40
Yes, I have. But it is about connecting to docker server.

The problem is when docker container tries to copy files. And it uses user id of a container, not of the host

[2018-08-13 18:06] MichaelAquilina commented on #40
Closing this issue as it was fixed by #41

[2018-08-13 18:06] #40 closed

[2018-11-12 17:16] MichaelAquilina opened #49 "Support poetry"

[2018-12-24 13:23] MichaelAquilina opened #66 "Different projects with same folder name will conflict"
e.g. `~/Development/foo` and `~/Projects/foo` would conflict with the same name when running `mkvenv`

[2019-01-02 12:31] #28 closed

[2019-01-02 12:32] MichaelAquilina commented on #27
Closing this issue as this project no longer depends on `virtualenvwrapper` which is the source of the problem. Please try out the latest version of this plugin and open a new issue if any other problem arises :)

[2019-01-02 12:32] #27 closed

[2019-01-02 16:01] glebmikulko opened #67 "command not found: mkvenv"
# Issue Details
After following installation guide for oh-my-zsh (cloning repo & adding plugins in ~/.zshrc), get error:
`zsh: command not found: mkvenv`
Please provide the following details when opening an issue:

## Operating System (uname -a)
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
## zsh version (zsh --version)
zsh 5.4.2 (x86_64-ubuntu-linux-gnu)
## autoswitch-virtualenv version (e

[2019-01-04 07:33] glebmikulko commented on #67
Sure
[code]
[code]

[2019-01-04 10:35] MichaelAquilina commented on #67
right, seems like perhaps there is a mistake in the README (I don't use oh-my-zsh myself I am afraid).

But it does seem like (from what I understand) this plugin is installed in the correct location.

could you provide the output of `echo $plugins`?

[2019-01-04 13:56] glebmikulko commented on #67
[code]

[2019-01-04 14:43] MichaelAquilina commented on #67
from what I can tell this should be working as normal. Have you tried installing any other custom plugin to oh-my-zsh? Has it worked?

I'm sorry I cant be of more help - I use `zplug` :/

[2019-01-06 01:31] dcecile commented on #67
Same setup over here and same problem (oh-my-zsh custom plugin, cannot find mkvenv), but I found a basic fix.

By renaming `autoswitch_virtualenv.plugin.zsh` in the plugin folder to `autoswitch-virtualenv.plugin.zsh`, I was able to get the plugin to initialize. The mkvenv command works for me now, and so does auto-activation of pipenv's Pipfile.

I think that oh-my-zsh needs the plugin file name t

[2019-01-06 10:30] MichaelAquilina commented on #67
@glebmikulko could you check if the suggested fix works for you? If it does I could try apply the change to the entire repo to fix it for everyone.

Thanks for the help @dcecile :)

[2019-01-08 06:03] glebmikulko commented on #67
Yes, it fixed my issue. Thanks

[2019-01-08 06:03] #67 closed

[2019-01-08 22:04] MichaelAquilina commented on #67
@dcecile @glebmikulko alternatively to renaming the file, could you check if instead changing your plugins variable as follows?

[code]

[2019-01-08 23:20] #39 closed

[2019-01-09 08:00] glebmikulko commented on #67
@MichaelAquilina It works but you should also change `git clone` command in `README.md` (for oh-my-zsh):
`git clone "https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git" "$ZSH_CUSTOM/plugins/autoswitch-virtualenv"` should become `git clone "https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git" "$ZSH_CUSTOM/plugins/autoswitch_virtualenv"` (with underscore)

[2019-01-09 10:11] MichaelAquilina commented on #67
:+1: thanks for the feedback @glebmikulko

[2019-02-09 09:44] posquit0 opened #79 "Not work with Pipenv"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
Darwin jina 18.2.0 Darwin Kernel Version 18.2.0: Mon Nov 12 20:24:46 PST 2018; root:xnu-4903.231.4~2/RELEASE_X86_64 x86_64

## zsh version (zsh --version)
zsh 5.7.1 (x86_64-apple-darwin18.2.0)

## autoswitch-virtualenv version (echo "$AUTOSWITCH_VERSION")
1.8.0

## How is zsh-you-should-use

[2019-02-09 12:54] MichaelAquilina commented on #79
You mention in your issue you have a `Pipefile`. Is this a typo in the issue or do you have that actual file locally?

[2019-02-09 16:02] posquit0 commented on #79
Sorry, it's jsut typo.

[code]

[2019-02-11 15:55] MichaelAquilina commented on #79
Sorry about the delayed response! Could you also provide the output for the following commands:

`cat .venv`
`PIPENV_IGNORE_VIRTUALENVS=1 pipenv --venv`

[2019-02-11 16:08] posquit0 commented on #79
I redacted the detailed path for security. :)

[code]

[2019-02-11 16:10] posquit0 commented on #79
More info about `PIPENV_VENV_IN_PROJECT`
https://pipenv.readthedocs.io/en/latest/advanced/#pipenv.environments.PIPENV_VENV_IN_PROJECT

[2019-02-11 16:13] MichaelAquilina commented on #79
ah, there is deff a problem with your `.venv`. This plugin uses .venv to autoswtich. I wonder if that is interfering with the check process.

Would you mind `ls -lA`ing the contents of that directory? Is it used by pip because of your `PIPENV_VENV_IN_PROJECT`?

If you remove `.venv` using `mv .venv ~/.venvbak` does autoswitching then start working for you?

[2019-02-11 16:39] posquit0 commented on #79
First, thanks to your support and awesome plugin. :)

This is the contents of `.venv`:
[code]

After `mv .venv .venv.bak` and disable `PIPENV_VENV_IN_PROJECT`:
[code]

I know this plugin uses `.venv` because I used this plugin very well when I didn't use `pipenv`.
However, I saw following message in `README.md`.

[code]

So, I expected that this plugin should work with and without `PIPENV_VENV_IN_

[2019-02-11 16:58] MichaelAquilina commented on #79
This deff seems like a bug in this plugin. Unfortunately I probably have not detected it as I do not use Pipenv myself (it was added as a PR by an external contributor).

I'll give the code a better look based on the information you posted to me and get back to you with any next steps that would be needed.

If you want to be adventurous I would suggest you try debug the issue yourself (first step

[2019-02-11 21:58] MichaelAquilina commented on #79
I've found the issue and will open a PR once I've found a simple fix for it. Will tag you once it's open @posquit0

[2019-02-12 10:40] #79 closed

[2019-02-12 16:52] rnc opened #81 "Instructions and prompt integration"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
Fedora 29
## zsh version (zsh --version)
5.6.2

## autoswitch-virtualenv version (echo "$AUTOSWITCH_VERSION")
1.8.0

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x] Other (please specify) : Manual installation from source.

## Steps to reproduce the

[2019-02-12 17:00] MichaelAquilina commented on #81
Hi there!

Just to be sure I understood you correctly:
* You are suggesting better installation instructions when just sourcing the plugin directly
* You found a bug where environment variables that this plugin is creating (specifically `venv_dir` `venv_name` `venv_path` `venv_type`) that are interfering with the correctness of your PROMPT display?

[2019-02-13 06:49] rnc commented on #81
Hi
I've made a branch to better illustrate what I mean :
https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/compare/master...rnc:BR1

In that I've made the two changes and also modified it to also abort the search either file system root or the HOME directory.

Correct

Not quite. I thought it would be useful to use venv_name to define my prompt e.g.
[code]
while inside a configured pyth

[2019-02-13 09:47] MichaelAquilina commented on #81
Ah now I understand :) You should probably be using `$(basename "$VIRTUAL_ENV")` instead!

Regarding your change, feel free to open a PR and I can review it within a PR itself. The changes look reasonable to me at first glance.

[2019-02-13 11:08] rnc commented on #81
PR created #82

Ah yes, thanks!  Interestingly I see `activate` alters PS1 which I hadn't realised as I was using PROMPT which appears to override. Regardless, its potentially better not to pollute the environment after deactivation - actually I think a few more functions need 'local' for their variables (e.g. message, SWITCH_TO).

[2019-02-13 11:10] MichaelAquilina commented on #81
There are probably some wins we can make in terms of preventing variables from leaking into a user's environment. Some are needed to be available globally however (there is no such thing as "private" to a script in zsh if you are sourcing it)

[2019-02-13 11:19] rnc commented on #81
+1, agreed, all `*AUTOSWITH*` variables I _think_ need to be public, but most other things don't need to be? I've updated PR to discuss this there :-)

[2019-02-14 09:06] rnc commented on #81
Closing as #82 is merged.

[2019-02-14 09:06] #81 closed

[2019-03-02 19:27] rnc commented on #66
Could a UUID be used either as `$HOME/.virtualenv/UUID/<env>` or as `.virtualenv/<venv>-UUID` ? Obviously would complicate the parsing and layout but would at least make them unique?

[2019-03-03 17:54] MichaelAquilina commented on #66
The latter is deff something I would prefer.

I have not seen anyone complain about this specific issue though so I don't think it's as common as you think it would be.

Does this affect you @rnc ?

[2019-03-04 13:42] rnc commented on #66
No I've not seen it (yet ;-) ).

[2019-03-14 15:34] rnc opened #85 "Multiple requirements and aliased rm"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
4.20.14-200.fc29.x86_64

## zsh version (zsh --version)
5.6.2

## autoswitch-virtualenv version (echo "$AUTOSWITCH_VERSION")
1.9.0

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x] Other (please specify)

## Steps to reproduce the issue

1. Calls to r

[2019-03-14 15:36] rnc opened #86 "Setup.py and development"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
4.20.14-200.fc29.x86_64

## zsh version (zsh --version)
5.6.2

## autoswitch-virtualenv version (echo "$AUTOSWITCH_VERSION")
1.9.0

## How is zsh-you-should-use installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x ] Other (please specify)

## Steps to reproduce the issue

Currently ca

[2019-03-15 09:53] MichaelAquilina commented on #86
Wasn't aware of the `-e .` option to be perfectly honest. What are the specific benefits of using the `-e` option?

[2019-03-15 09:57] MichaelAquilina commented on #85
I assume the problems listed in 1/2/3 are all unrelated to each other?

1: could you please elaborate? I'm not sure I understand the issue. Is it that calls to the absolute path of the `rm` binary do not get detected?

2: Never ran into a project with this structure, but happy to follow that format as it doesn't break any other functionality. Could you point to an example repo where we can see thi

[2019-03-15 11:30] rnc commented on #86
I found http://codumentary.blogspot.com/2014/11/python-tip-of-year-pip-install-editable.html a good explanation. There is also https://pip.pypa.io/en/stable/reference/pip_install/#editable-installs

I found it very useful as it means I can run/edit/debug the application without reinstalling.

I suppose it could be an option e.g.
[code]

[2019-03-15 11:32] rnc commented on #85
Yeah , they were so small I just rolled them up for discussion purposes :-)

1. I have in my local ZSH env, rm aliased to 'rm -i'. As the call to rm is not fully qualified it hits the alias which causes issues. If it was fully qualified it would ignore the alias.

2. Sure. See https://github.com/cekit/cekit/ (and the docs subdirectory).

3. Agreed!

[2019-03-15 11:33] rnc commented on #85
( I can send PRs for all of the issues of course :-) )

[2019-03-15 15:18] MichaelAquilina commented on #85
These all look like reasonable improvements to the project. Feel free to open PRs for them. Please keep them separate so that they are easier to review and merge individually :)

[2019-03-15 15:20] MichaelAquilina commented on #86
Considering these are just symlinks, I would just say lets just make it the default. I don't see any large downsides to making all installs editable, and it's probably expected behaviour for most users to be honest. The change is quite simple so feel free to also try this out and open a PR!

[2019-03-17 07:43] rnc commented on #86
I would agree that it would make sense to make it the default. I a _slightly_ concerned because its a user-visible change in behaviour with no way to customise it. I could perhaps say that 'if AUTOSWITCH_PIPINSTALL=[EDITABLE|FULL] is set then that can change the method' ?

[2019-03-17 23:18] #85 closed

[2019-03-18 09:47] MichaelAquilina commented on #86
Happy to make this an option.

Are there any obvious downsides to making this the default?

[2019-03-18 10:39] rnc commented on #86
I suppose it depends upon whether someone is developing the python project in question or just wanting to use it. I would have thought, for general usage they might want to install it without a virtualenv so it is generally available ( i.e. by using `pip install -U --user <project>` ). Hard to predict .... ;-)

[2019-03-20 11:45] #86 closed

[2019-06-24 14:31] MichaelAquilina opened #92 "`virtualenv` should be optional for users exclusively using Pipenv"

[2019-06-24 14:45] john-sandall opened #93 "oh-my-zsh instructions not currently working"
# Issue Details

Followed oh-my-zsh instructions as given in README but utils like `mkvenv` were not being found on PATH. Installing by sourcing the plugin directly in .zshrc does seem to work.

Please provide the following details when opening an issue:

## Operating System (uname -a)
`Darwin Johns-MacBook-Pro.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.

[2019-06-24 14:48] MichaelAquilina commented on #93
After cloning the repository, does adding the line `plugins=(autoswitch_virtualenv $plugins)` to your `.zshrc` and restarting your shell work?

(oh-mh-zsh does not hot reload as far as I know)

easiest way to check is changing this line https://gist.github.com/john-sandall/c75fb745ff01e695b52d48b0329c5f50#file-zshrc-L71 to

`plugins=(autoswitch_virtualenv git colorize github vagrant virtualenv pip

[2019-06-24 14:58] john-sandall commented on #93
Yup that fixes it. It doesn't hot reload, but I was restarting my shell previously. But yes changing my line to read `plugins=(autoswitch_virtualenv git colorize github vagrant virtualenv pip python brew osx)` or even adding `plugins=(autoswitch_virtualenv $plugins)` directly below does work.

The key seems to be if you add it _after_ `source $ZSH/oh-my-zsh.sh` then it won't work.

[2019-06-24 15:00] MichaelAquilina commented on #93
ah yes that definitely would be it. I'll update the README to make sure that is clear

[2019-06-24 16:38] #93 closed

[2019-06-24 16:38] MichaelAquilina opened #96 "Update README to make Pipenv support more clear"

[2019-07-16 08:35] rnc opened #99 "Environment pollution"
( Fedora 30 ; ZSH 5.7.1 ; Manually installed from git )

This is not an issue as such, more of a discussion :-)

Currently colours such as `RED` etc are defined within the file. If this is sourced then these end up within the shell environment.

I am wondering whether it might be better to wrap them inside a function (used by the other functions) to avoid these 'polluting' the parent shell environ

[2019-07-16 09:12] MichaelAquilina commented on #99
I was actually wondering about thsi last time but then noticed that my environment doesnt have this issue.

[code]

I install this repo from `zplug` so I wonder if that does something special to prevent globals defined in plugins from entering the user's environment.

Problem with this approach is that you are just moving the problem. Instead of polluting the user's environment variables you are p

[2019-07-16 15:54] rnc commented on #99
Thats interesting! I wonder how it is doing that. From having a _very_ brief look at zplug there is a lot of code so its not obvious how its loading something as a plugin and what it does with functions / variables.
( and yeah, it is just moving the problem somewhat ).

[2019-07-16 21:08] MichaelAquilina commented on #99
I'm afraid I'm not familiar enough with autoloads to know for sure! Are you aware of any good documentation I can use for reference?

How are you loading in this plugin? From what I gather manually but thought I'd double check before assuming.

PS: Yeah `zplug` has an insane codebase :scream:

[2019-07-17 06:37] rnc commented on #99
I think that a function is autoloaded if when in a new shell you see e.g.
[code]
I have used http://zsh.sourceforge.net/Doc/Release/Completion-System.html#Autoloaded-files and https://www.refining-linux.org/archives/46-ZSH-Gem-12-Autoloading-functions.html before.

I am loading it with https://github.com/rnc/nicks-shell/blob/master/.zshrc#L190 - very manual setup :-)

I wonder if other frameworks,

[2019-07-17 12:54] rnc commented on #99
@MichaelAquilina  I think I may have found it! After experimenting with oh-my-zsh as well and seeing that it also doesn't have e.g. `RED`, `NORMAL` in the environment I tried experimenting with a clean user. This led me to the fact I was setting `ALL_EXPORT` ; using
[code]
works around it.

[2019-07-17 12:59] MichaelAquilina commented on #99
Ah right! So you had this set in your zshrc? http://zsh.sourceforge.net/Doc/Release/Options.html#index-export_002c-automatic

[2019-07-17 13:05] rnc commented on #99
+1, yes exactly. Its been there for *ages* and I'd, frankly, forgotten about it :-(

[2019-07-17 13:08] MichaelAquilina commented on #99
I wasn't even aware the option existed so I learnt something new today :) Are you happy with closing this issue or do you think there is more to discuss?

[2019-07-17 13:22] rnc commented on #99
Yeah its fine to close - unless you wanted me to add a sentence to the readme for the manual install about this? Something like
[code]

[2019-07-17 13:26] MichaelAquilina commented on #99
I think considering that `ALL_EXPORT` is turned off by default and enabling it gives the expected behaviour above - we shouldnt need to specify it. But at least I am now aware of it in case anyone else asks a similar question in the future.

Closing the issue as I'm happy with the status as is. Thanks for the help @rnc and good find :)

[2019-07-17 13:26] #99 closed

[2019-09-22 15:32] yoshihikoueno opened #102 "Option to store virtualenv in a project directory?"
this is not an "issue" but more like a feature request.

Currently, this plugin will store all the virtualenvs in one directory no matter where the project is located. Although it doesn't cause problems in many cases, in some rare cases, it does.

1. The same project name in different directories.
2. Forget to "rmenv" before deleting a project directory.

As a virtualenv is meant to be an environm

[2019-09-22 18:10] rnc commented on #102
Potentially related to #66 ? Surely when utilising an SCM you would not copy the directory but check it out again - and given the python installations could be different, the virtual env may not apply? Personally, even if this was implemented, I would prefer it to be an option and not the default :-)

[2019-09-23 02:32] yoshihikoueno commented on #102
Hmm, true. But I still wonder. What is the advantage of having virtualenv in a separated directory?

[2019-09-23 05:21] rnc commented on #102
@yoshihikoueno Ok this is **personal** opinion so everyone else may differ :-) This means my venvs are not split across the disk but kept in a single location. They don't 'pollute' the checkout with unnecessary files. Note I often use `mkvenv --system-site-packages` as I inherit system installed RPM packages.

Have you seen under options (https://github.com/MichaelAquilina/zsh-autoswitch-virtualen

[2019-09-23 05:33] yoshihikoueno commented on #102
Thanks, yeah, it makes sense. I guess it's just a matter of our preferences and working environments.

Also, thank you for suggesting of the option. However, I believe that it's static. So if I want my virtualenvs to be located on a project dir, I would probably need to dynamically change `AUTOSWITCH_VIRTUAL_ENV_DIR` so that it'll point the current project dir.

I guess I can just fork this projec

[2019-09-23 05:47] rnc commented on #102
@yoshihikoueno Why not either use a wrapper or, possibly even neater a `chpwd` hook, to modify that variable upon changing directory to the new directory ?

[2019-09-23 06:07] yoshihikoueno commented on #102
Yes, that's basically what I did.

https://github.com/yoshihikoueno/zsh-autoswitch-virtualenv

[2019-09-23 12:42] MichaelAquilina commented on #102
Creating virtualenvs in the home directory is basically what `virtualenvwrapper` does. I've emulated this behaviour because once this project used virtualenvwrapper (but then removed it because it was very slow).

I think having an option to create virtualenvs in the same place as the source code is perfectly fine to have :) @yoshihikoueno feel free to open a PR if you wish. I can add the option m

[2019-10-06 21:57] MichaelAquilina commented on #92
closed by #103

[2019-10-06 21:57] #92 closed

[2019-10-07 11:15] MichaelAquilina opened #105 "Nicer output when switching between pipenvs"
The current output does not look great due to the way pipenv generates unique names:

E.g.
[code]

[2019-10-07 21:33] #105 closed

[2019-10-08 13:37] MichaelAquilina commented on #66
From #105 we can easily append uids to each virtualenv name now.

What is not totally clear to me is how to be backwards compatible with non-uids venv names. We can probably use a workaround to identify them. Something like:

`project-name-ID=<uid>` where the `ID=` is pretty easily recognizable and testable.

[2019-11-13 17:51] madsenibis opened #110 "stat: bad file descriptor on execution of check_venv on OS X Mojave"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

Darwin lewontinmadsenlaborg.local 18.6.0 Darwin Kernel Version 18.6.0: Thu Apr 25 23:16:27 PDT 2019; root:xnu-4903.261.4~2/RELEASE_X86_64 x86_64
## zsh version (zsh --version)

zsh 5.5.1 (x86_64-apple-darwin17.5.0)

## autoswitch-virtualenv version

1.14.0

## How is zsh-autoswitch-virtual

[2019-11-14 22:17] MichaelAquilina commented on #110
Hi @madsenibis
Could you check what the following command gives you?

[code]

[2019-11-14 22:18] madsenibis commented on #110
On the current version of OS X, I get:

stat: bad option: -c

[2019-11-14 22:19] MichaelAquilina commented on #110
what about `stat --version`?

[2019-11-14 22:22] madsenibis commented on #110
Hmm.  Weird.

`stat: no files given`

Ah!  I found the problem.  If you're using ZSH as your shell, stat becomes a built in shell command with decidedly non-standard options.  The original `stat -f %u .venv` works fine if I use the path to the actual Unix executable `/usr/bin/stat`.  How about I give you a PR which figures out how stat should be called?

[2019-11-14 22:22] MichaelAquilina commented on #110
@madsenibis go for it :)

If possible please provide a test for it

[2019-11-16 19:41] madsenibis commented on #110
Still thinking about the approach here -- it turns out that what is loading the zsh/stat plugin (and thus causing `check_venv` to fail given the different syntax), is a Kubernetes prompt-setting script. So it seems like perhaps the best generic approach would be to:
(a) check if zsh/stat is loaded before really starting the bulk of `check_venv`
(b) if so, call stat with an absolute path

would tha

[2019-11-18 10:07] rnc commented on #110
@madsenibis  @MichaelAquilina It already uses an explicit path for rm (`/bin/rm`) so my vote would be to keep it simple and just immediately use an explicit path ? On my Fedora system `/bin` is a symbolic link to `/usr/bin` - is `/usr/bin` is standard cross-platform location for stat?

[2019-11-20 16:43] madsenibis commented on #110
What I'm testing is something where we determine the path for "stat" after determining if what's in the "path" is a shell builtin function first, which would find the executable non-shell version regardless of whether `/bin` or `/usr/bin` are separate or a symlink.

[code]
Would that work?

[2019-11-26 04:06] hmoffatt commented on #102
I would like this too, as it would allow the virtualenv to be shared among users. We have projects deployed to production which have a virtualenv in the same directory. I update it as my user, and it runs as the web server, so I need the virtualenv in a location that can be shared by both.

This is possible with the dotpyvenv plugin (https://github.com/jeanpantoja/dotpyvenv), but that plugin is mo

[2019-11-27 20:35] pawnhearts opened #111 ".venv directory"
# Issue Details

When pipenv is configured to create virtualenvs in project directories it stores them in .venv directories. That breaks plugin.

My workaround for that:
https://paste.ubuntu.com/p/4zHqwVFMvQ/

[2019-11-28 15:33] MichaelAquilina commented on #110
I would prefer this solution if we are confident this will be consistent across systems.

Alternatively this would work, but I would change the function so that it works to execute directly

[code]

[2019-11-28 15:49] MichaelAquilina commented on #111
@pawnhearts as a temporary workaround please download the latest version (1.15.0) and set the value of `AUTOSWITCH_FILE` to something other than `.venv`. For example:

[code]

[2019-11-28 15:49] #111 closed

[2019-12-01 16:46] MichaelAquilina commented on #102
I just realised that his feature is actually already supported, but not documented anywhere since I never really thought of it's use case.

Please try setting the following variable in your `zshrc`:

[code]

Once that is set you should notice that all your virtualenvs will be stored in the directory where the `mkvenv` command is run.

Let me know if that satisfies your use case @yoshihikoueno

[2019-12-02 01:35] yoshihikoueno commented on #102
@MichaelAquilina Thank you for letting me know about that! That feature is exactly what I wanted!

[2019-12-02 11:37] MichaelAquilina commented on #102
Marking this issue as closed then, thanks for confirming!

[2019-12-02 11:37] #102 closed

[2019-12-05 11:05] rnc commented on #49
It would be great if this could be supported as well. Currently poetry conflicts leading to e.g.
[code]

[2019-12-11 09:10] wouterweerkamp opened #114 "Empty $LANG causes test errors"
# Issue Details

Tests that depend on the comparison of "Switching virtualenv: foobar [🐍Python 3.7.4]" fail when $LANG is not set (or when not supporting UTF-8).

**Reason:** in `autoswitch_virtualenv.plugin.zsh` we check for $LANG, and if it does not support UTF-* (or is not set), we remove the 🐍 from the `DEFAULT_MESSAGE_FORMAT`. In some of the tests however, we do not take this into considerati

[2019-12-11 09:36] MichaelAquilina commented on #114
Thanks for the issue report @wouterweerkamp. We can probably fix the $LANG variable correctly in the setup functions to solve this issue.

Would you like to give it a go?

[2019-12-11 10:17] wouterweerkamp opened #116 "Support pyproject.toml"
# Issue Details

Plugin currently looks for `setup.py` and `requirements.txt` to determine if folder contains a Python project. To allow other tools besides setuptools, we can also define a `pyproject.toml` file for building our project.

**Desired functionality:** Check folder also for`pyproject.toml` and ask to install dependencies from that file, similar to the current behavior on `setup.py`. F

[2019-12-24 22:10] ConstantinoSchillebeeckxSimpleRose commented on #96
I'd appreciate some help on this front! I've setup a project with `pipenv install`, when I navigate into a folder within this project, the virtual environment unloads.

[2019-12-24 22:46] ConstantinoSchillebeeckxSimpleRose opened #118 "conda support?"
Any thoughts on bringing in conda support?

[2019-12-31 16:29] MichaelAquilina commented on #118
I do not know very much about Conda I am afraid. Maybe you could give me a summary of how it differs from a standard python installation?

[2019-12-31 16:29] #114 closed

[2019-12-31 16:33] MichaelAquilina commented on #96
First off apologies for the delayed response - I was away for Xmas holidays.

`pipenv` support should work out of the box without doing anything. If you have a project setup and have run `pipenv install` on that project - then it should automatically reactivate the next time you enter that directory.

There *is* a bug right now where the first time you run `pipenv install` it does not activate the

[2019-12-31 16:33] MichaelAquilina opened #119 "pipenv not activated immediately after install"

[2020-01-02 16:55] ConstantinoSchillebeeckxSimpleRose commented on #96
I've reverted the change to my `~/.zshrc` and done the following:
![image](https://user-images.githubusercontent.com/44036468/71679834-246c5580-2d4e-11ea-8b1a-ebe43b6a5d03.png)

As you can see:
- no `.venv` is generated
- virtual environment unloads when moving into directory located in project

Am I doing something wrong?

[2020-01-02 16:59] ConstantinoSchillebeeckxSimpleRose commented on #118
I'll let others describe it better than I ever could:
- https://jakevdp.github.io/blog/2016/08/25/conda-myths-and-misconceptions/
- https://towardsdatascience.com/a-guide-to-conda-environments-bc6180fc533

[2020-01-03 11:29] rnc commented on #49
@MichaelAquilina  From looking at the changes in branch next it seems there is different behaviour depending on whether `pyproject.toml` is used or `setup.py` ; i.e. the README says it will by default install in editable mode but it seems that if pyproject.toml is being used then it will install by default in full mode? Perhaps at the very least this should be documented?

For poetry specifically,

[2020-01-03 11:54] MichaelAquilina commented on #49
You are correct on both counts. Based on the discussion for the original merged PR it seems like installing in editable mode is not possible. You are right that this should be documented though. Would you like to open PR yourself and take a go? (Happy to do it myself but only seems fair to give you the opportunity since you found the issue :) )

Unfortunately my knowledge on poetry is very limited

[2020-01-03 11:56] rnc commented on #49
Tagging @wouterweerkamp who added the `pyproject.toml` and knows more about it :-)

[2020-01-03 12:00] MichaelAquilina commented on #118
Thanks for this! From some quick reading it seems like if we detect `conda` in the user's `$PATH` we could given the user the option to use it over `pip` to install programs.

If it really is that simple then the implementation should not be that difficult.

I cant promise a timeline for when I get to this though as I'm handling multiple projects at once at the moment. Feel free to give a stab at

[2020-01-03 12:03] MichaelAquilina commented on #96
Ah I see where the misunderstanding lies. Perhaps I should document this behaviour better in the README.

When using `pipenv` a `venv` file is not created as it is not needed. Instead the virtual environment from pipenv itself will be used. As you can see in your prompts, the `tmp` virtual environment is being correctly activated and deactivated.

Does that make sense?

[2020-01-03 13:19] rnc commented on #49
I'd be happy to make a PR but I think a design should be chosen first.

Having had a bit of an initial read into pyproject.toml/poetry I think I see the difference now. What I haven't yet dug into (had time to!) is how pip with pyproject.toml supports editable mode and whether it _requires_ (currently?) a setup.py as well?

As for poetry, one option might be to say if `[tool.poetry]` exists within

[2020-01-03 14:30] ConstantinoSchillebeeckxSimpleRose commented on #96
So is it expected behavior that, when I move into a subdirectory (like `/tmp/docs` shown above) the virtual environment disables? I would have expected that the environment stay loaded. It certainly behaves that way when using `mkvenv`.

I'm curious, why is `.venv` not needed?

[2020-01-03 14:35] MichaelAquilina commented on #96
No, that's a bug. Would you mind opening an issue with anything else you've seen in it?

`.venv` is essentially a marker that lets this plugin know when to activate virtual environments automatically. When working with `pipenv` we don't need this because it's enough to check 1) is there a Pipfile 2) does pipenv have an associated virtualenv.

You can see the logic here: https://github.com/MichaelA

[2020-01-03 17:16] MichaelAquilina commented on #96
Fix in #120

[2020-01-03 17:24] MichaelAquilina commented on #96
@ConstantinoSchillebeeckxSimpleRose I've updated the README and fixed the bug you described when moving to subdirectories in pipenv projects. Let me know if that helps or if it needs more clarity :)

[2020-01-03 17:31] MichaelAquilina commented on #110
@madsenibis would you mind testing out #121 to see if it works for you?

[2020-01-03 17:47] madsenibis commented on #110
This works, thank you!

[2020-01-03 17:47] #110 closed

[2020-01-03 17:53] ConstantinoSchillebeeckxSimpleRose commented on #96
Fantastic; looks like everything works!

[2020-01-03 17:59] MichaelAquilina commented on #49
I'm afraid that generating artifacts without the users permission might be confusing. While its not consistent behaviour with the default (i.e. editable mode by default), I think I prefer it to the alternative.

I'm afraid I'm not sure of this myself :( I should have probably dug more into it before merging the change into `next` - but at least it can still be changed before releasing it to master

[2020-01-03 18:00] #96 closed

[2020-01-05 08:31] rnc commented on #49
Yes I think you're right. How about a configuration option? That way, the users have to set it in order for the generation to proceed.
If we did go down this route then I think `rmenv` should remove any generated files?

Another possible method to keep it consistent is just to create the venv and output a message to set the configuration option (as per 2 on https://github.com/MichaelAquilina/zsh-a

[2020-01-07 11:00] saleemrashid opened #122 "Malicious scripts in untrusted directories are executed"
[code]

The script `evil_virtualenv/bin/activate` will be sourced **without any user interaction**, which will:

1. Erase the "Switching virtualenv" message from the terminal (so the user isn't even aware that anything has happened)
2. Write the output of `id; ls ~` to a file called `evil.txt`. Obviously this would be more malicious in practice

[2020-01-07 11:43] MichaelAquilina commented on #122
Hi @saleemrashid this is true. But if I understand this correctly, apart from the automation it is no more or less secure than any virutalenv activation script (Please feel free to correct me if I am wrong here). If there was no automation the user would have activated the corresponding virtualenv manually.

A couple of checks are made to make sure the correct virtualenv target is not tampered wit

[2020-01-07 16:33] saleemrashid commented on #122
@MichaelAquilina The point here is that the user isn't expecting there to be a virtualenv, so they would not have activated it themselves. They are cloning a random Git repository, that they don't necessarily trust, and by simply running `cd evil-zsh-autoswitch-virtualenv`, they have executed malicious code.

This is a **huge** issue, unless you believe that you will never `cd` into a directory th

[2020-01-07 16:42] saleemrashid commented on #122
I think your threat model is incredibly unusual:

* You check that the `.venv` cannot be modified by other users. I think this is incredibly low risk: it would require the `.venv` to have insecure permissions, as well as all the parent directories.

* You don't check that the `.venv` is not from a random folder you downloaded off the Internet! The threat is very real here - the user might be obliv

[2020-01-07 19:38] MichaelAquilina commented on #122
Yep that makes it clearer to me. I now realise how the contents of `.venv` are also abused with `/self/proc` to get to the current working directory (which I was not aware you could do). It does require the correct number of parent traversals to be specified (e.g. I was not affected), but I agree its an issue that needs fixing asap.

That's an interesting approach which we can probably streamline

[2020-01-07 20:30] MichaelAquilina commented on #122
@saleemrashid please take a look at the latest release and see what you think. I have a few other ideas I will implement but the issue you specifically posted should be resolved.

[2020-01-07 20:30] #122 closed

[2020-01-07 21:05] saleemrashid commented on #122
Sorry for the lack of clarity.

For completeness, it is not necessary to use the exact number of path traversals because `/..` is a hard link to `/`, so extra path traversals will have no effect - therefore, using a copious number of them would be sufficient to attack any user.

I understand the concept, but let us imagine that your `.venv` file is at `/home/user/projects/python/.venv`. This would

[2020-01-07 21:07] saleemrashid commented on #122
I still think you should consider implementing white-listing. Even if your validation for `.venv` proves to be secure, you're still assuming that `pipenv` is safe when executed with an untrustworthy `Pipfile`, but it definitely doesn't make any such guarantees.

[2020-01-07 21:15] MichaelAquilina commented on #122
Agreed there is more work to be done. Just wanted to fix the main issue for now in order to get it out asap.

Thanks for posting this issue!

[2020-01-21 01:56] mralext20 commented on #24
python3.3 ships with a module called venv, and it does basicly the same thing as virtualenv, except its bundled with the standard library.

[2020-01-31 11:54] lookis opened #126 "wrong prompt with new terminal directly drop into project"
# Issue Details
1. prompt/PS1 was not set when create a new term directly drop into the python project
2. after 1, change to another folder will pop an wrong theme (default theme)

Please provide the following details when opening an issue:

## Operating System (uname -a)
Mac 10.15.2

## zsh version (zsh --version)
zsh 5.7.1 (x86_64-apple-darwin19.0)

## autoswitch-virtualenv version
[code]
1.15.0

[2020-02-10 22:00] MichaelAquilina commented on #126
@lookis I'm not sure I fully understand this bug. Would you mind posting some screenshots showing the issue to help out?

[2020-02-10 22:56] lookis commented on #126
I have do a screen recording to reproduce, notice that I open another terminal with shortcut: ctrl+t
https://www.dropbox.com/s/u3u4eb1o35tmfuh/Screen%20Recording%202020-02-11%20at%206.49.45%20AM.mov?dl=0

[2020-02-10 23:01] lookis commented on #126
It seems that dropbox compress the video, I upload another one zipped here
https://www.dropbox.com/s/oj5t0emyzb06b9w/Screen%20Recording%202020-02-11%20at%206.49.45%20AM.zip?dl=0

[2020-02-11 10:14] lookis commented on #126
Online player compress the video, you can have it downloaded and see

[2020-02-24 15:59] leit512 commented on #126
I belive I have the same issue.

Steps to reproduce:
1. have a .venv file that links to your default environment (same one as in AUTOSWITCH_DEFAULTENV) in the home directory
2. start a terminal
3. zsh-autoswitch-virtualenv tells me it switched to the default venv
4. my zsh theme/promp still shows correctly
5. switch to a directory containing a .venv
6. zsh-autoswitch-virtualenv switches to the cor

[2020-02-27 09:55] martinleopold opened #128 "autoswitch-virtualenv creates superfluous 'venv' folders"
# Issue Details

When using autoswitch-virtualenv with a relative `AUTOSWITCH_VIRTUAL_ENV_DIR` an superfluous empty venv folders are created in subfolders of the project folder. This happens when you first cd into the subfolder.

Background:
I want to make autoswitch-virtualenv behave like the 'manual' pattern often given in blog posts, with a `venv` folder inside each subfolder. Luckily autoswitc

[2020-06-16 06:26] hauntsaninja commented on #126
I also have this issue. I was able to fix by removing the call to `check_venv` that the plugin makes at load time: https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/blob/459e48d670ba1902cce68e509ebe6b569e771e91/autoswitch_virtualenv.plugin.zsh#L346
The issue here is that we load this plugin before other parts of my zshrc that set PROMPT and PATH and so on. Thus, `deactivate` fails to re

[2020-06-16 19:48] #49 closed

[2020-06-16 19:48] #116 closed

[2020-07-01 11:17] rnc opened #133 "Poetry"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

Fedora 32

## zsh version (zsh --version)

5.8

## autoswitch-virtualenv version

[code]
3.0.0

## How is zsh-autoswitch-virtualenv installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [X] Other (please specify)
Manual checkout
## Steps to reproduce the issue

Would it be feasible to in

[2020-07-01 13:06] MichaelAquilina commented on #133
Likely to be possible. This is already somewhat supported in `virtualenv` projects so its just a matter of extending that support.

Is the main reason to want this to prevent redundancy and improve install times?

[2020-07-01 13:21] rnc commented on #133
Exactly that reason :-)

I tended to run as `mkvenv --system-site-packages` so it be useful to support some form of standardised pattern to handle this ( even if its a mkvenv specific that the processes the argument as appropriate)

[2020-07-11 11:14] MichaelAquilina opened #134 "Poetry environment not activated when moving from a pipenv project"
# Issue Details

Simplest way to reproduce this issue:

1) Create a pipenv project (`pipenv init` `pipenv install`)
2) Create a poetry project (`poetry init` `poetry install`)

3) Navigate to pipenv project and notice it activates the pipenv virtualenv
4) Navigate to poetry project and notice it does _not_ activate

CC @pablo-snyk

[2020-07-11 17:37] #134 closed

[2020-07-31 11:38] graingert opened #137 "run virtualenv with `pipx run virtualenv` if virtualenv is missing"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

## zsh version (zsh --version)

## autoswitch-virtualenv version

[code]

## How is zsh-autoswitch-virtualenv installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [ ] Other (please specify)

## Steps to reproduce the issue

## gist link to your zshrc

[2020-08-04 08:11] MichaelAquilina commented on #137
I'm not entirely sure I understand what you're proposing?

[2020-08-04 08:12] graingert commented on #137
@MichaelAquilina issue text updated

[2020-08-04 08:16] graingert commented on #137
another option is to fallback to `python -m venv` where available

[2020-08-04 22:03] Qdulf opened #138 "Incompatible with `virtualenvs.in-project=true`"
# Issue Details

## Operating System (uname -a)
Linux Work 5.7.10-arch1-1 #1 SMP PREEMPT Wed, 22 Jul 2020 19:57:42 +0000 x86_64 GNU/Linux

## zsh version (zsh --version)
zsh 5.8 (x86_64-pc-linux-gnu)

## autoswitch-virtualenv version
3.0.2

## How is zsh-autoswitch-virtualenv installed?

- [ ] zplug
- [ ] oh-my-zsh
- [ ] Antigen
- [x] Other (please specify)
[code]
## Steps to reproduce the issue
d

[2020-08-05 10:21] #138 closed

[2020-08-05 10:27] MichaelAquilina commented on #119
This was fixed in a previous release

[2020-08-05 10:27] #119 closed

[2020-08-08 22:19] LordFlashmeow opened #140 "Add support for existing virtual environments"
I use pycharm for development, so my virtual environments are created automatically when I make a new project. It would be really convenient if there was a function—maybe `addvenv` which created the `.venv` file instead of prompting to create a whole new virtual environment.

I know I can make the file myself, but it seems a little odd that the plugin is smart enough to detect a virtualenv, but wo

[2020-08-09 17:51] MichaelAquilina commented on #140
Hi there! I don't use pycharm so I'm not very aware of how it creates/stores its virtualenvs.

Would you mind providing some information about the virtualenvs it creates? The following would definitely be useful:

* Name of the virtual environment in relation to the project / directory
* Location of the virtual environment on the file system

[2020-08-10 17:38] LordFlashmeow commented on #140
With pycharm, the default is to create the virtual environment in a folder named venv (although it can be changed to whatever). Inside the venv folder, there is not a folder with the project name, only the venv files.

For example:
[code]

[2020-09-02 17:59] escaped commented on #140
I kind of have the same issue as I use `python -m venv .venv` instead of creating the environment using `virtualenv`. To support this, we could "simply" check whether `$AUTOSWITCH_FILE` is already a virtual environment (eg. does `${venv_path}/bin/activate` exists or similar). If it is, we can simply load it by running `source .venv/bin/activate` and use `deactivate` to disable it again, once we le

[2020-12-04 16:09] ConstantinoSchillebeeckx opened #145 "does not work with pyenv"
# Issue Details

I'm having trouble getting this to work with pyenv. Though everything works generally, when I open a new window in an existing directory, the env doesn't seem to be loading properly (see gif below).

## Operating System (uname -a)

Darwin CSchillebeeckx-0589.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Aug 31 22:12:52 PDT 2020; root:xnu-6153.141.2~1/RELEASE_X86_64 x86_64

## zsh

[2020-12-08 09:26] MichaelAquilina commented on #145
I dont use pyenv very often so it's very possible that I missed this bug. I'll try reproduce this bug and get back to you.

If I'm having trouble reproducing the issue I might ask if you could provide me a minimal `zshrc` that reproduces your isue

[2021-01-28 18:33] omersi opened #147 "when switching between different venvs the $PS1 configuration is lost"
# Issue Details

when I open a new terminal window the $PS1 format is

[code]
when I cd to a different directory with a different .venv, the $PS1 is changed automatically to

[code]

## Operating System (uname -a)
Linux imubit-omer 5.4.0-65-generic #73-Ubuntu SMP Mon Jan 18 17:25:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
## zsh version (zsh --version)
zsh 5.8 (x86_64-ubuntu-linux-gnu)

## autoswi

[2021-01-29 09:44] MichaelAquilina commented on #147
Hi @omersi. This seems very likely to be due to something subtle in your `zshrc` because I cant reproduce it. Would you mind posting a gist link to your zshrc? *Ideally* the zshrc would be reduced down to a minimal set of lines that can still reproduce the issue as it will make it more likely I'll be able to help you

[2021-01-29 09:56] omersi commented on #147
Hi

Here's my entire .zshrc
[code]

[2021-01-29 10:12] MichaelAquilina commented on #147
@omersi I've deleted your post because you mistakenly posted an API_KEY. I *highly* suggest you change that API Key because despite deleting this post for you it may still be picked up by someone else.

[2021-01-29 10:14] omersi commented on #147
oh boy... I thought I removed them all...
thanks for noticing it.

[2021-01-29 10:39] rnc commented on #147
@omersi @MichaelAquilina For reference, as anyone watching the repo gets emails (like I do), I have a copy of the entire thing :-( Not only are there multiple API keys in there but also username/passwords.

[2021-01-29 10:58] omersi commented on #147
ALL TOKENS WHERE CHANGED.

[2021-02-02 15:07] ShogunExecutioner commented on #126
Thanks @hauntsaninja for that fix, it works for me.
Also thanks to @MichaelAquilina for this great plugin

[2021-02-06 04:45] dan-kez commented on #145
+1 here - would excellent to have a pyenv addition here

[2021-02-11 13:46] rnc opened #148 "Pipenv installation in 'developer/editable' mode."
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

Fedora 33

## zsh version (zsh --version)

5.8

## autoswitch-virtualenv version

[code]

## How is zsh-autoswitch-virtualenv installed?

- Other (please specify)

Manually using checked out repository

## Steps to reproduce the issue

Currently `install_requirements` will install in edita

[2021-03-08 11:13] 3isenHeiM opened #149 "Add option to disable security warnings"
# Issue Details

When running on Kali, **the only user is root**. Thus, every time an venv needs to be activated, the security warning (about weak .venv permissions) is triggered.

How can I disable this behavior ?
Is there any means to disable these security warnings ?

Please provide the following details when opening an issue:

## Operating System (uname -a)

Kali 2021.1

## zsh version (zsh --

[2021-03-08 16:53] MichaelAquilina commented on #149
It would be quite simple to add an option to disable this. I'll try find some time to add it in - but feel free to give it a go if you have the time! Dont think it would be too hard to do :)

[2021-03-08 18:51] 3isenHeiM commented on #149
Okay I'll check that out tomorrow ;)

[2021-03-24 11:55] andrenasturas opened #151 "Autoswitch not silent when terminal opened directly in a directory where a venv exists"
# Issue Details

The variable AUTOSWITCH_SILENT, when set to a true value, prevents the "Switching virtualenv: ..." message to be prompted when entering into a directory where a `.venv` is available.

This behavior does not work if the terminal is opened directly into a directory where a `.venv` is available, and the message is prompted.

It causes ugly outputs when used with [Powerlevel10k](https

[2021-04-05 15:34] derula opened #152 "File permission checks problematic for pipenv projects"
# Introduction

First of all, thanks a lot for this, it's a great tool and very helpful for me!

Currently, when using `pipenv`, it refuses to switch `virtualenv` if the `Pipfile`'s file permissions are "too weak," which I think serves little purpose. (Before `644` was allowed, this was a major annoyance and potentially counter-productive, because I kept having to reset the permissions to `600` af

[2021-04-06 09:58] rnc commented on #152
Related is I think #149

But I agree, I keep hitting this and its rather irritating! :-)

[2021-04-06 20:42] derula commented on #152
I would like to add the following:

1. `umask` for non-root users is `664` be default, meaning the point I made about having to `chmod` after every checkout is _not_ void unlike previously described.
2. I did see #149, but while just disabling the check in general removes the "annoyance" factor, it will also bring back the actual security problem (because `pipenv` will also respect a `.venv` file.

[2021-05-08 02:21] bolinocroustibat commented on #145
I'm using it with pyenv as well. I have other issues (not related to pyenv) but the env always does auto activate properly.

[2021-05-08 02:35] bolinocroustibat opened #153 "Sometimes deactivate the oh-my-zsh theme when auto activate the virtual env"
# Issue Details

Sometimes deactivate my oh-my-zsh prompt theme when autoactivating the venv.
Seems to happens randomly for now, didn't find the exact steps to reproduce the issue yet, but happens quite often. Will update this ticket if I find any clue.

I'm using Pyenv Python version depending on the dir, and Poetry created virtualenvs.

## Operating System (uname -a)

MacOS 11.3 - Darwin Kernel

[2021-05-12 13:30] MichaelAquilina commented on #153
@bolinocroustibat was this plugin manually installed into `oh-my-zsh`?

I cant reproduce this issue based on what you've provided. So I think our best bet would be for you to find/create a git repo which reproduces this issue so that I can test and fix it myself

[2021-05-12 13:31] MichaelAquilina commented on #152
I actually am also tempted to remove this feature from the plugin. It was something I added early on when I thought it might be useful - but as some others have pointed out there is not much benefit for the complexity it requires to run.

[2021-05-12 13:32] MichaelAquilina commented on #145
So I've started using pyenv quite regularly and cant seem to reproduce the issue.

Does someone have a minimal zshrc I can use to try debug the issue?

[2021-05-12 13:36] bolinocroustibat commented on #153
@MichaelAquilina
It was installed with git clone into the custom plugin folders, then the plugin added to .zshrc.
I'm not sure how to create a git repo with shell to reproduce. Will update the ticket if more clues

[2021-05-25 19:52] ankitp4t3l commented on #24
For posterity, the answer to OP is "no", correct?

[2021-05-26 10:52] MichaelAquilina commented on #24
Correct. At the very least, the plugin hasnt been built with this module in mind. If someone does manage to get it working its just a happy coincidence :)

[2021-05-26 14:07] seakayone commented on #126
Thanks @hauntsaninja !

I have applied your fix and it solves my problem with losing the prompt, as well as the problem with autojump not being functional anymore.

[2021-06-14 19:46] KungFuLucky7 opened #155 "Pycharm terminal error message"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
Mac OSX

## zsh version (zsh --version)
zsh 5.8 (x86_64-apple-darwin20.0)

## autoswitch-virtualenv version

[code]
3.1.1

## How is zsh-autoswitch-virtualenv installed?
- oh-my-zsh

## Steps to reproduce the issue
Every time I open up PyCharm terminal I get this verbose, prolonged error me

[2021-09-20 06:39] salmannotkhan commented on #66
What if while generating the venv we check if any venv with same name exists or not. If it does we can append the name with something that is more recognizable than pwgen output

[2021-09-20 11:24] MichaelAquilina commented on #66
This issue should actually be solved in the latest release :) please upgrade and let me know if you are still having issues!

[2021-09-20 11:24] #66 closed

[2021-09-20 11:25] MichaelAquilina commented on #66
we could take that as an improvement for the future - but is there a reason why you dont like the `pwgen` output at the end? We could also take the approach of hiding it - but I'm not sure that is any better

[2021-09-20 11:27] salmannotkhan commented on #66
There is it looks ugly. Many programmer like me care so much about clean names and can't tolerate some gibberish on terminal all the time XD

[2021-09-20 11:31] MichaelAquilina commented on #66
we could probably create an optional feature to hide the pwgen name at the end. Feel free to take a go at it if you want :)

[2021-09-20 11:33] salmannotkhan commented on #66
Yeah that is also good idea. Something like an environment variable "ZSH_AUTOSWITCH_CLEAN_NAMES"  :)

[2021-09-20 11:40] salmannotkhan commented on #66
and is there any preference for which delimiter to use?

[2021-09-20 12:18] salmannotkhan commented on #66
ok code is ready to do that once you tell which delimiter to use i'll do it :)

[2021-09-20 19:31] derula commented on #152
I think in general this security feature is sensible. I think the problem in the `pipenv` case is that it's barking at the wrong tree. Would it make more sense to check the result of `pipenv --venv` instead of the `Pipfile` itself?

After a recent change, it seems like it re-evaluates the file attributes even if the PWD didn't change. This makes this problem even more annoying, because every time

[2021-09-23 09:09] vhristev opened #159 "Slow shell after autoswitch"
# Issue Details

When i use autoswitch in poetry project i get super slow shell just hitting enter i can see the delay. The fun part is that if i create new poetry init project i don't see the problem. If i create new `mkvenv` env in some test folder slowness is not there.

It seems the slowness is with already created projects with poetry but i cannot identify the root cause.

## Operating System

[2021-09-26 09:22] #159 closed

[2021-09-26 09:23] MichaelAquilina commented on #159
@vhristev please update and check if the latest changes fix this issue :)

[2021-09-30 09:32] stevenxxiu opened #161 "Invalid warning when going into GitLab directory"
# Issue Details
When I go in the `gitlab` directory the following invalid warning always shows up:

[code]

The file that causes this is:

[code]

## Operating System (uname -a)

*Arch Linux*

[code]

## zsh version (zsh --version)

[code]

## autoswitch-virtualenv version

[code]

## How is zsh-autoswitch-virtualenv installed?
- oh-my-zsh

[2021-09-30 10:27] stevenxxiu commented on #161
I managed to make an ugly temporary fix for this now. Put this in at the end of `~/.zshrc`:

[code]

[2021-09-30 12:07] MichaelAquilina commented on #161
What does this directly contain? Is it an installation of `gitlab`? Is there any way you can reproduce this in a docker container so that I can test and debug?

[2021-09-30 13:38] stevenxxiu commented on #161
Ah I debugged it a bit and think I get the issue. The bug happens when I don't have `pipenv` installed, and the directory has a `Pipfile` in it. It's contents don't really matter, but fyi it's shown in my first comment.

When this happens, the first condition below doesn't evaluate to `true`, and the last condition is evaluated instead. This isn't really valid:

[code]

[2021-10-07 21:00] #161 closed, assigned to nobody

[2021-10-07 21:02] MichaelAquilina commented on #155
Does pycharm activate the virtualenv for you automatically (I'm unfamiliar with the way pycharm works)

[2021-10-11 01:25] hauntsaninja commented on #126
Yay, thank you for fixing!

[2021-10-14 01:20] erikc96 opened #164 "Creates venv with mkvenv but doesn't autoswitch"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)

Darwin Eriks-MacBook-Pro-1037.local 21.1.0 Darwin Kernel Version 21.1.0: Sat Sep 11 12:27:45 PDT 2021; root:xnu-8019.40.67.171.4~1/RELEASE_ARM64_T8101 arm64

## zsh version (zsh --version)

zsh 5.8 (x86_64-apple-darwin21.0)

## autoswitch-virtualenv version

[code]

## How is zsh-autoswitc

[2021-10-16 00:43] KungFuLucky7 commented on #155
I can set PyCharm Python interpreter to the `.venv` path and it activates the environment whenever I open a new terminal.

[2021-11-06 21:17] wookayin opened #165 "Drop requirement of pwgen"
I was thinking of submitting a PR directly, but prior to that I wanted to discuss with the owner and make a consensus about the change.

Since v3.3.0 `pwgen` has became a requirement. However, I don't think it is good idea to require pwgen to make this plugin working.

First, `pwgen` is only required during `mkvenv` (with plain virtualenv). Users who are already using pipenv, poetry, conda would n

[2021-11-07 12:01] MichaelAquilina commented on #165
Hi @wookayin I agree relying on pwgen is not ideal so I'm willing to hear alternatives.

I'm not sure that assuming python is installed is any better though? I'm guessing most installations have it by default, but would it be any higher than pwgen? If the answer is yes, then I would agree that it would be a better alternative but I have not done my research here :)

[2021-11-07 19:22] wookayin commented on #165
This plugin is meant for python, so we can assume that python's availability is very likely. What's the point of using this plugin if they didn't have python3 on PATH? Also, most of the reasonable distribution OS would have python3 available. Windows, might be an exception, though..

[2021-11-07 20:21] MichaelAquilina commented on #165
😂 sorry had some wires crossed when I wrote this message and thought I was posting for another zsh plugin I maintain.

Yes python sounds perfectly reasonable to me. Feel free to open a PR :)

[2021-11-12 10:59] MichaelAquilina commented on #165
This will be solved by #166 once merged

[2021-11-22 11:00] #165 closed

[2022-02-25 00:56] afeblot commented on #140
@MichaelAquilina, if I spend time trying to implement @escaped request and submit a PR, will you consider it, or is this something you don't want to see implemented in your script because it alters its current logic?

[2022-02-25 09:37] MichaelAquilina commented on #140
@afeblot feel free to open a PR :) At the very least it provides us a better way of discussing the changes while also providing a branch for other users to test it out

[2022-03-21 05:15] cjmcgraw opened #170 "Multiple .virtualenv directories with AUTOSWITCH_VIRTUAL_ENV_DIR"
# Issue Details

[code]

expected: `.virtualenv/`
actual:
[code]
## Operating System (uname -a)
[code]
## zsh version (zsh --version)
`zsh 5.8 (x86_64-ubuntu-linux-gnu)`

## autoswitch-virtualenv version

[code]

## How is zsh-autoswitch-virtualenv installed?
- oh-my-zsh

[2022-03-21 05:21] cjmcgraw commented on #170
Appears to be a dupe of: https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/issues/128

[2022-03-21 05:21] #170 closed

[2022-03-24 07:35] moha-gh opened #171 "mkvenv: Random suffix generator broken when 'python' is not in $PATH"
# Issue Details

KDE neon (basically Ubuntu LTS + bleeding edge KDE) apparently doesn't have a `python` in `$PATH` by default - you'll need to explicitly call either `python2` or `python3`. This breaks the generation of the random virtualenv suffix introduced with #166. I get a `command not found` error when calling `mkvenv` and end up with a `virtualenv` without a suffix. Everything apart from th

[2022-03-24 11:45] MichaelAquilina commented on #171
Python not being in your path is an issue though 🤔 Maybe we can make this more explicit in the README but we would expect a python binary being available in your path considering this is a plugin related to python virtualenv.s

[2022-03-24 13:25] moha-gh commented on #171
A reasonable assumption, yes. Since I haven't encountered any other issue with this setup so far (as mentioned, the venv is working fine - same goes for tools like `pip` or development in VS Code) I still wanted to bring it up :) It'd be happy to file a PR that extends the documentation accordingly.

[2022-03-24 13:57] MichaelAquilina commented on #171
Go for it @moha-gh :)

[2022-03-26 19:08] #171 closed

[2022-03-29 04:46] moha-gh commented on #171
The new check added with #172 works as expected for me. To make `python` available in `$PATH` I've installed the `python-is-python3` package via `apt install`.

[2022-03-29 09:12] stevenxxiu opened #174 "Option to remove `randstr` in `mkvenv`"
When running `mkvenv`, recently there's a `randstr` that is added at:

https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/blob/c119ab9c539aa892e32e705144eae926ae44893b/autoswitch_virtualenv.plugin.zsh#L327

[code]

Can there be an option to exclude this? I often create projects that require an exact `venv` name, as specified in the `.venv` file under version control.

This suffix means I

[2022-03-29 09:53] seakayone opened #175 "python binary not found on PATH"
# Issue Details

When starting my zsh in iTerm I get the following error message:
[code]
Even though Python is installed with pyenv:
[code]

When I start zsh in zsh the error messages vanishes and the zsh-autoswitch-virtualenv plugin is working.
[code]

Reloading omz solves the problem as well.
[code]

Please provide the following details when opening an issue:

## Operating System (uname -a)
Darw

[2022-03-29 10:15] MichaelAquilina commented on #175
I think the reason is that this plugin loads before your setup pyenv in your zshrc.

So at the point in time it checks if python exists - it fails.

This obviously isnt great so I'll come up with a fix :)

[2022-03-29 10:17] MichaelAquilina commented on #175
@seakayone in the meanwhile, you can run: `enable_autoswitch_virtualenv` to force enable it.

specifically, you can add it to the end of your zshrc to make sure it loads up

[2022-03-29 11:45] seakayone commented on #175
Thank you very much for the quick reply. `enable_autoswitch_virtualenv` is really helpful as a workaround - much quicker than reloading the entire omz.

I also tried setting `AUTOSWITCH_DEFAULT_PYTHON` but this is only affecting new virtual environments. Maybe this could be checked as fallback when the plugin tries to detect the python interpreter?

[2022-03-29 15:16] MichaelAquilina commented on #175
I think the correct solution is to fix this plugin to correctly work with plugins which are loaded after it :) if you can tesdt #176  we should be be to check if it fixes this issue.

[2022-03-30 08:55] MichaelAquilina commented on #174
@stevenxxiu would you mind elaborating on this need? I want to make sure that we understand the problem first :)

[2022-03-30 12:52] stevenxxiu commented on #174
Sure. I have some projects with a `.venv` file pointing to the *Virtualenv* environment name.

Occasionally, *Python* gets a major version update. This means I need to recreate the *Virtualenv*s of my old projects.

In order to do this, I tried running `mkenv` under those project directories. But now this gives me a random *Virtualenv* name, that doesn't match the `.venv` file that's already under

[2022-04-04 09:19] MichaelAquilina commented on #174
why would you need `.venv` under version control @stevenxxiu ? I would recommend keeping this outside of version control because it is specific to your local machine

[2022-04-11 09:07] stevenxxiu commented on #174
That makes some sense. Another reason though is I want my *Virtualenv*s to have nice looking names. The suffix might make things rather confusing, if there are 2 *Virtualenv*s with the same name and different suffixes.

[2022-04-25 17:30] MegaBluejay commented on #174
Seems like there are several separate parts to this.

For the use case of version-controlled `.venv` files, it might make sense to read the current value and offer to make an environment with that name, rather than the current behavior with an invalid `.venv`

The other issue is prettiness. I also dislike the randomized names in my prompt, but they make sense to make sure one venv doesn't get reus

[2022-04-27 17:48] niteshgaba opened #178 "FileNotFoundError: [Errno 2] No such file or directory:"
# Issue Details

Please provide the following details when opening an issue:

## Operating System (uname -a)
Linux 5.16.19-76051619-generic #202204081339~1649696161~22.04~091f44b SMP PREEMPT Mon Apr 11 17 x86_64 x86_64 x86_64 GNU/Linux

## zsh version (zsh --version)
zsh 5.8.1 (x86_64-ubuntu-linux-gnu)

## autoswitch-virtualenv version
[code]
3.6.0

## How is zsh-autoswitch-virtualenv installed?
-

[2022-04-29 03:54] #178 closed

[2022-07-09 14:47] hans-d commented on #175
any plans on merging #176  ?

[2022-07-11 10:43] MichaelAquilina commented on #175
Hi @hans-d :) yes, seems like I just forgot about that one but I will work on merging it some time soon

[2022-09-06 00:01] hyerrakalva opened #181 "Set "y" to default option when prompting to install from requirements.txt"
# Issue Details

Many package managers (like `apt`, `pacman`, etc.) have "y" set as the default option when prompting for a yes/no answer prior to installing/removing a package. Likewise, when this plugin prompts to install dependencies from requirements.txt or any other file, if the user hits the enter key without specifying a y/n value, the plugin should assume a value of "y", mainly to go along

[2022-09-07 14:11] MichaelAquilina commented on #181
@hyerrakalva sounds good to me. I thought this was already implemented but looks like I was wrong!

Would you like to attempt this in a PR :) ?

[2022-09-07 14:37] hyerrakalva commented on #181
@MichaelAquilina sure!

[2022-10-11 21:29] adamko147 opened #182 "python binary not found on PATH, zsh-autoswitch-virtualenv plugin will be disabled"
# Issue Details

Plugin won't load with error **WARNING: python binary not found on PATH.**

I have python 3.10.x installed on as package and as macOS Monterey might not have default python 2.x installed. This causes the check
[code]
although I have properly installed python3
[code]

I have set
[code]
in my ~/.zshrc before loading the oh-my-zsh/plugin, however this has no effect as the `python` st

[2022-10-24 04:20] feng-li opened #184 "Naming confusing"
I am so confused with the naming that the GitHub project is `zsh-autoswitch-virtualenv` while the plugin file is `autoswitch_virtualenv.plugin.zsh`.

Every time when I set up a new machine, I need to think about how to load the plugin. Should use `-` or `_`? Can this be made consistent?

[2022-10-28 17:37] tony opened #185 "LICENSE"
Hi, thank you for the project!

I don't quite know how GPL works in this scenario of this project.

[zsh(1)](https://github.com/zsh-users/zsh/blob/master/LICENCE) proper uses GPL, but it's built into a binary.

In this situation (in the "dot-config" ecosystem), it's downstream, I generally see more flexible terms (ISC, MIT, BSD, etc). It's more hospitable to the pace in which scripts moved and how

[2022-11-02 14:25] MichaelAquilina commented on #185
Hi @tony :) to be honest, I probably just chose the same license I used for everything.

I didnt pick this specific license for any particular reason.

I'm happy to take a suggestion for what the license should be if there are good reasons behind it.

Which one of the licenses would you suggest out of the ones you mentioned?

[2022-11-02 14:54] tony commented on #185
:) Hi

<details>

Would  [virtualenv](https://github.com/pypa/virtualenv)'s [license](https://github.com/pypa/virtualenv/blob/main/LICENSE) be okay?

[2022-11-02 17:33] tony commented on #185
@MichaelAquilina

There's [17 committers](https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv/graphs/contributors) that committed while the repo was GPLv3.

Since there's no CLA / contributor license agreement covering earleir commits (I'm assuming you're fine with your own commits going from GPL -> MIT, correct me if I'm wrong), there'd need to be a move.

Example: https://github.com/pyt

[2022-11-19 20:18] iloveitaly opened #187 "Variable to disable plugin"
Would be great if there was  a `AUTOSWITCH_DISABLE` plugin that could be used with `direnv` to turn off switching in certain directories.

[2022-11-27 21:40] kiliantyler commented on #175
Going to bump this one up since I've been running into it recently @MichaelAquilina